body {
    height: 700px;
    background-color: red;
    width: 700px;
    margin: 0px;
}
nav {
    height: 140px;
    width: 700px;
    background-color: black;
    margin-top: -20px;
    margin-left: 0px;
    text-align: center;
    
}
li {
    color: white;
}
h1 {
    color: beige;
}
ul {
    list-style-type: none;
}